<p>main-page works!</p>

<div class="container">
Call NodeJs: 
<button type="submit" class="btn btn-primary"  (click)="onNodeJs()">Node Js</button>


Call Flask: 
<button type="submit" class="btn btn-primary"  (click)="onFlask()">Flask</button> <br />
</div>

<br/><br/>

<a id="1" routerLink="/nodejs">Go to NodeJs/Express application</a><br/><br/>
<a id="2" routerLink="/flask">Go to Flask/Python application</a>
<br />
<br />

Go To Dashboard: 
<a href="https://github.com/login/oauth/authorize?client_id=a92cb6693aa07cc042ed">Dashboard</a>


<!-- <button type="submit" (click)="onWeb()">Stat web</button>
<a id="3" href="/google.com">Static Website</a> -->

<!-- https://github.com/login/oauth/authorize?client_id=a92cb6693aa07cc042ed -->